.MainBox {
	border: solid black 5px;
	display: flex;
	flex-direction: column;
	// height: 90vh;
	width: 90vw;
	margin: 25px auto;
	justify-content: space-around;
	align-items: center;
	border-radius: 5px;
	// background: rgba(242, 242, 242, 0.5);
}

.formBox {
	margin: 35px 0px;
	// border: solid orange 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.24);
	-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.24);
	box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.24);
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.contactTitle {
	// border: solid red 1px;
	display: flex;
	height: 5vh;
	align-items: center;
	// width: 30vw;
	font-size: 1.5em;
}

hr {
	width: 90%;

}


input {
	height: 5vh;
	width: 75vw;
	margin: 2px;
   border: outset 1px #F2F2F5;
   padding: 1px;
   border-radius: 5px;
   box-shadow: 0px 1px 10px 2px rgba(156, 156, 156, 0.07);
   background-color: #FFFFFF;
   background-image: url(http://);
   background-position: 0px 0px;
   background-repeat: no-repeat;
   outline: none;
   color: #000000;
   font-size: 1em;
  }
input:hover  {
   border: 2px outset #949494;
  }
input:focus  {
   border: solid 2px #8F1340;
   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
  }
input:active  {
   border: outset 2px #000000;
  }

.message1 {
	height: 10vh;
	width: 75vw;
	margin: 2px;
   border: outset 1px #F2F2F5;
   padding: 1px;
   border-radius: 5px;
   // font-size: 16px;
   box-shadow: 0px 1px 10px 2px rgba(156, 156, 156, 0.07);
   background-color: #FFFFFF;
   background-image: url(http://);
   background-position: 0px 0px;
   background-repeat: no-repeat;
   outline: none;
   color: #000000;
}

.message2 {
	height: 10vh;
	width: 65vw;
	margin: 2px;
   border: outset 1px #F2F2F5;
   padding: 1px;
   border-radius: 5px;
   // font-size: 16px;
   box-shadow: 0px 1px 10px 2px rgba(156, 156, 156, 0.07);
   background-color: #FFFFFF;
   background-image: url(http://);
   background-position: 0px 0px;
   background-repeat: no-repeat;
   outline: none;
   color: #000000;

}

button {
	   border-radius: 5px;
	   outline: none;
}


  span {
  	display: flex;
	height: 5vh;
	width: 65vw;
	margin: 2px;
   border: outset 1px #F2F2F5;
   padding: 1px;
   border-radius: 5px;
   // font-size: 16px;
   box-shadow: 0px 1px 10px 2px rgba(156, 156, 156, 0.07);
   background-color: #FFFFFF;
   background-image: url(http://);
   background-position: 0px 0px;
   background-repeat: no-repeat;
   outline: none;
   color: #000000;
   align-items: center;
  }
span:hover  {
   border: 2px outset #949494;
  }

  .allTheContactsBox {
	// margin: 35px 0px;
	// border: solid orange 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	// overflow: scroll;

}
.contactsBox {
	margin: 20px 0px;
	// border: solid black 5px;
	display: flex;
	flex-direction: column;
	// height: 30vh;
	// width: 40vw;
	// justify-content: space-around;
	align-items: center;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.24);
	-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.24);
	box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.24);
}

// .contactWrapper {
// 	width: 55vw;
// 	border: solid orange 1px;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// }

.labels {
	// border: solid red 1px;
	width: 75vw;

	label {
		font-size: 1.1em;
		// border: solid purple 3px;
	}
}


.contactWrapper { 
	width: 70vw;
	// border: solid orange 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
   -webkit-animation-duration: 1s; 
   animation-duration: .5s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInDown { 
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
}

// .ng-invalid {
// 	background: red;
// }
